{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signup" method="post" enctype="multipart/form-data">
    {% include "_partials/flash.njk" %}

    <label for="avatar">
      <img src="images/avatar.svg" alt="Avatar" height="24">
    </label>

    <input type="file" id="avatar" name="avatar">

    <input type="text" placeholder="Nome completo" name="name" />
    <input type="email" placeholder="Seu email" name="email" />
    <input type="password" placeholder="Senha secreta" name="password">

    <label for="provider">
      <input type="checkbox" value="1" id="provider" name="provider" />
      Sou cabelereiro
    </label>

    <button type="submit">Criar conta</button>

    <a href="/">Já possuo conta</a>
  </form>

  <script type="text/javascript">
    var avatarInput = document.getElementById('avatar');
    var img = document.querySelector('label[for=avatar] img');

    avatarInput.onchange = function () {
      img.classList.add('preview');
      img.src = URL.createObjectURL(avatarInput.files[0]);
    }
  </script>
{% endblock %}